@use "../../../assets/scss/mixins.scss" as *;

.contacts-list {
  max-height: 600px;
  overflow-y: auto;

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    list-style: none;
    padding-left: 0;
  }

  & li {
    margin-right: 3.8%;
    margin-bottom: 40px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  @include vp-laptop {
    & li {
      margin-right: 6%;
      &:nth-child(4n) {
        margin-right: 6%;
      }
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }

  @include vp-tablet {
    max-height: none;
    overflow-y: auto;

    & li {
      margin-right: 4.6%;

      &:nth-child(4n) {
        margin-right: 4.6%;
      }
      &:nth-child(3n) {
        margin-right: 4.6%;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  @include vp-mobile {
    & li {
      margin-right: 0;
      margin-bottom: 1.25rem;
      &:nth-child(3n) {
        margin-right: 0;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
