$color-background: #ffffff;
$color-shadow: rgba(209, 209, 209, 0.2);
$color-overlay: rgba(0, 0, 0, 0.25);

$color-neutrals: #515151;
$color-neutrals-dark: #333333;

$color-primary: #0084d9;
$color-primary-dark: #0060b5;
$color-primary-lighter: #b1e4ff;

$color-danger: #eb5757;

$vp-laptop: 1440px;
$vp-tablet: 1024px;
$vp-mobile: 768px;

$z-overlay: 10;
$z-popup: 20;
