$color-background: #ffffff;
$color-shadow: rgba(209, 209, 209, 0.2);
$color-overlay: rgba(0, 0, 0, 0.25);

$color-neutrals: #515151;
$color-neutrals-dark: #333333;
$color-neutrals-lighter: #8c8c8c;

$color-primary: #0084d9;
$color-primary-dark: #0060b5;
$color-primary-lighter: #b1e4ff;

$color-secondary: #ff4d00;
$color-secondary-dark: #e64300;
$color-secondary-lighter: #ffa788;

$color-danger: #eb5757;
$color-danger-dark: #d14d4d;
$color-danger-faded: #faebeb;

$color-warning: #e2b93b;
$color-warning-dark: #e29c3b;
$color-warning-faded: #fcf4e9;

$color-success: #27ae60;
$color-success-dark: #219452;
$color-success-faded: #eafaf1;

$color-info: #2f80ed;
$color-info-dark: #2a73d4;
$color-info-faded: #eaf1fb;

$vp-laptop: 1440px;
$vp-tablet: 1024px;
$vp-mobile: 768px;

$z-overlay: 10;
$z-popup: 20;
