@use "../../../assets/scss/variables.scss" as *;
@use "../../../assets/scss/mixins.scss" as *;

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: $z-popup;

  width: 27rem;
  min-height: 24.375rem;

  padding: 2rem;

  background-color: $color-background;
  border-radius: 1rem;
  @include shadow;

  &__close {
    color: inherit;

    position: absolute;
    top: 20px;
    right: 20px;

    padding: 0.25rem;

    background-color: transparent;
    border: 0;

    cursor: pointer;
  }

  &__header {
    text-align: left;
    margin-bottom: 10px;
  }

  & .input {
    width: 70%;

    margin-bottom: 1rem;
  }

  &__button {
    width: 70%;

    margin-top: 1rem;
  }
}
